@keyframes cortinas {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(101%);
  }
}

@keyframes rodar {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes pulando {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes girando {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes abrirDescricao {
  0% {
    opacity: 0;
    transform: translate3d(0, -20px, -5px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}