/*
 ██████  ██████  ███    ██ ████████  █████  ████████  ██████ 
██      ██    ██ ████   ██    ██    ██   ██    ██    ██    ██
██      ██    ██ ██ ██  ██    ██    ███████    ██    ██    ██
██      ██    ██ ██  ██ ██    ██    ██   ██    ██    ██    ██
 ██████  ██████  ██   ████    ██    ██   ██    ██     ██████ 
*/

#contato {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 200px;
  padding-top: 50px;
}
.contato-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -62px;
  padding: 150px 0px;
  background-color: var(--tertiary);
  border-radius: 35px;
  border-bottom-left-radius: 33px;
  border-bottom-right-radius: 33px;
}
.contato-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 45px;
  width: 100%;
}
.contato-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-radius: 35px;
  width: min(80%, 600px);
  min-height: 600px;
  padding: 50px;
  margin: 0px 30px;
  gap: 50px;
  box-shadow: 0px 8px 0px var(--sombra);
  border: 3px solid var(--primary);

  input,
  textarea {
    width: 100%;
    background-color: var(--tertiary);
    border: 3px solid var(--primary);
    border-radius: 100px;
    padding: 10px;
    resize: none;
    color: var(--secundary);
    font-size: 2rem;
    cursor: text;
    outline: 0;
    caret-color: var(--secundary);
  }
  #mensagem {
    overflow-x: hidden;
    border-radius: 30px;
    padding: 10px;

    &::-webkit-scrollbar-track {
      background-color: var(--tertiary);
      border-radius: 100%;
      margin: 20px 0px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--bg);
      cursor: default;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    border: 3px solid var(--primary);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: none;
    box-shadow: 0px 8px 0px var(--sombra);

    &:hover {
      background-color: var(--primary);

      > span {
        color: var(--bg);
      }
    }

    &:active {
      transform: translateY(4px);
      box-shadow: 0px 4px 0px var(--sombra);
    }
  }
  span {
    font-size: 4rem;
    color: var(--primary);
    cursor: pointer;
  }
  #loading {
    animation: girando 1s infinite linear;
  }
}

.input-item {
  display: flex;
  flex-direction: column;
  width: 100%;

  label {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    padding-left: 20px;
  }
}

.contato-redes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--bg);
  border-radius: 35px;
  padding: 50px;
  margin: 0px 40px;
  gap: 50px;
  box-shadow: 0px 8px 0px var(--sombra);
  border: 3px solid var(--primary);

  a,
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    background-color: var(--bg);
    border: 3px solid var(--primary);
    border-radius: 50%;
    padding: 5px 8px;
    margin-top: 10px;
    min-width: 60px;
    min-height: 60px;
    cursor: pointer;
    box-shadow: 0px 8px 0px var(--sombra);
    transition: none;

    &:hover {
      color: var(--bg);
      background-color: var(--primary);

      > span {
        color: var(--bg);
      }
    }
    &:active {
      transform: translateY(4px);
      box-shadow: 0px 4px 0px var(--sombra);
    }
    span {
      color: var(--primary);
      font-size: 4rem;
      cursor: pointer;
    }
  }
  ion-icon {
    font-size: 4rem;
    cursor: pointer;
  }
  span {
    color: var(--secundary);
    font-size: 2rem;
  }
}

.contato-redes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0px 20px;
}

/*
███    ███ ███████ ██████  ██  █████  
████  ████ ██      ██   ██ ██ ██   ██ 
██ ████ ██ █████   ██   ██ ██ ███████ 
██  ██  ██ ██      ██   ██ ██ ██   ██ 
██      ██ ███████ ██████  ██ ██   ██ 
*/

@media screen and (max-width: 733px) {
  #mensagem::-webkit-scrollbar {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .contato-redes {
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  .contato-form {
    padding: 30px;

    input,
    textarea {
      font-size: 1.8rem;
    }
  }
  .contato-conteudo {
    padding: 100px 0px;
  }
  .contato-redes {
    a,
    button {
      width: 60px;
      height: 60px;
      padding: 4px 7px;

      ion-icon,
      span {
        font-size: 4rem;
      }
    }
  }
  .input-item label {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 440px) {
  .contato-redes {
    max-width: 200px;
  }
}