@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

h1, h2, h3, h4 ,h5 ,h6 {
  color: var(--text);
  font-family: "Bricolage Grotesque", serif;
}
p, span, a, li, ul, label, input, textarea, [type="submit"], ::placeholder {
  color: var(--text);
  font-family: "Comfortaa", sans-serif;
  font-weight: 300;
}
textPath {
  font-size: small;
}
.font-bricolage {
  font-family: "Bricolage Grotesque", serif;
}
.font-comfortaa {
  font-family: "Comfortaa", sans-serif;
}
.span-number {
  color: var(--text);
  font-family: "Lexend", sans-serif;
}
button {
  font-weight: 400 !important;
}

h1 {
  font-size: 56px !important;
  font-weight: 600 !important;
  width: 70%;
  text-align: center;
}
h2 {
  font-size: 48px !important;
  font-weight: 500 !important;
  text-align: center;
}
h3 {
  font-size: 32px !important;
  font-weight: 400 !important;
}
h4 {
  font-size: 26px !important;
  font-weight: 400 !important;
}
h5 {
  font-size: 24px !important;
  font-weight: 300 !important;
}
h6 {
  font-size: 22px !important;
  font-weight: 300 !important;
}
p, span, a, li, ul, button, label, input, textarea, ::placeholder, .nav__link, .nav__link--active {
  font-size: 20px !important;
  font-weight: 300 !important;
}

@media (max-width: 640px) {
  h1 {
    font-size: 44px !important;
    font-weight: 600 !important;
    width: 70%;
    text-align: center;
  }
  h2 {
    font-size: 36px !important;
    font-weight: 500 !important;
    text-align: center;
  }
  h3 {
    font-size: 28px !important;
    font-weight: 400 !important;
  }
  h4 {
    font-size: 24px !important;
    font-weight: 400 !important;
  }
  h5 {
    font-size: 22px !important;
    font-weight: 300 !important;
  }
  h6 {
    font-size: 20px !important;
    font-weight: 300 !important;
  }
  p, span, a, button, label, input, textarea, ::placeholder, .nav__link, .nav__link--active {
    font-size: 18px !important;
    font-weight: 300 !important;
  }
}